
body {
    color: black;
    font-size: 18; 
    margin-top: 25px 50px;
    padding: 25px 50px;

    }
h3.contact
{
    background-color: azure;
}
h1   {
    color:black;
    font: size 16;
}
p    {
    color: rgb(20, 20, 20);
    font: size 16;
    margin-top: 25px 50px;
    padding: 25px 50px;

}
